<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">O</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            Shopping Cart
            <span class="badge badge-warning badge-pill">{{ shoppingCartItemCount }}</span>
          </a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{appUser.name}}</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
              <a ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
              </ng-container>
              <a ngbDropdownItem class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
        </li>
        
      </ul>
      
    </div>
  </nav>